section
    h3#btnBusqueda Búsquedas guardadas
    ul.ocultar#contentBusqueda
        li
            a(href="#") terror puro
        li
            a(href="#") editar |
            a(href="#") eliminar
        li
            a(href="#") search drama
        li
            a(href="#") comedias en ingles
section
    h3#btnCategoria Categorías
    ul.ocultar#contentCategoria
        li
            a Todos
        li
            a(href="#") Terror
        li
            a(href="#") Comedia
        li
            a(href="#") Drama
section
    h3#btnIdioma Idioma
    ul.ocultar#contentIdioma
        li
            a Todos
        li
            a(href="") Inglés
        li
            a(href="#") Terror
        li
            a(href="#") Comedia
        li
            a(href="#") Drama
section
    h3#btnPubli Publicación
    ul.ocultar#contentPubli
        li
            a(href="") Todos
        li    
            a(href="#") Hoy
        li    
            a(href="#") Hace una semana
        li    
            a(href="#") Hace un mes
        li    
            a(href="#") Hace un año
section
    h3#btnPresent Presentación
    ul.ocultar#contentPresent
        li
            a(href="#") Impreso
        li    
            a(href="#") Digital
        li
            a Impreso y digital